html,body{
    height:100%;
    margin:0;
}
h3{
    margin:5px;
}
body {
    background-image: url(../images/back2.jpg);
}
.container{
    min-height:100%;
    background-color:#ffffff;
    
    border-left:solid #333333 4px;
    border-right: solid #333333 4px;
}
header{
    margin-left:auto;
    margin-right:auto;
}

#titletab{
    border:#333333 solid 4px;
    width:50%;
    border-top-left-radius:64px;
    border-top-right-radius:64px;
}

#titletabb{
    position:relative;
    top:1px;
    width:auto;
    padding:10px;
    border: double #c7b9aa 6px;
    border-bottom: double #c7b9aa 5px;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    background-color:#333333;
}

#title{
    font-size:400%;
    color:#b6a899;
    text-align:center;
}

#tabs {
    position:relative;
    background-color:#c7b9aa;
    width:auto;
    padding:30px;
    border: solid 4px #333333;
    border-top-right-radius: 45px;
    color:#ffffff;
    text-align:center;
}

a.tablink {
    position:relative;
    background-color:#333333;
    padding:10px;
    margin:5px;
    border:double #c7b9aa 8px;
    border-radius:10px;
    color:#b6a899;
    font-size:24pt;
}

footer{
    margin-bottom:-50px;
    margin-left:auto;
    margin-right:auto;
}
#shoe{
    border-left:solid #333333 4px;
    border-right: solid #333333 4px;
    margin-left:auto;
    margin-right:auto;
    background-color:#ffffff;
}
#shoe,footer{
    height:50px;
}

#map{
    margin:10px;
}

@media screen and (max-width: 992px) {
    #titletab{
        width:50%;
    }
    #titletabb{
        padding:12px;
    }
    #title{
        font-size:225%;
    }
    #tabs {
        padding:20px;
        text-align:center;
    }
    a.tablink {
        top:5px;
        padding:10px;
        margin:5px;
        font-size:24pt;
    }
}
@media screen and (max-width:768px) {
    #titletab{
        width:100%;
    }
    #title{
        font-size:250%;
    }
    #tabs {
        height:72px;
        padding:10px;
        text-align:center;
        border-top-right-radius:0px;
    }
    a.tablink {
        padding:8px;
        margin:3px;
        font-size:16pt;
    }
}
@media screen and (max-width:640px) {
    #titletab{
        width:100%;
    }
}
@media(min-width:576px){
    header,#shoe,footer{
        max-width:550px;
    }
}
@media (min-width:768px){
    header,#shoe,footer{
        max-width:740px;
    }
}
@media (min-width:992px){
    header,#shoe,footer{
        max-width:960px;
    }
}

@media (min-width:1200px){
    header,#shoe,footer{
        max-width:1140px;
    }
}