html,body{
    height:100%;
    margin:0;
}
h3{
    margin:5px;
}
body {
    background-image: url(../images/back2.jpg);
}
.container{
    min-height:100%;
    background-color:#ffffff;
    
    border-left:solid #333333 4px;
    border-right: solid #333333 4px;
}
header{
    margin-left:auto;
    margin-right:auto;
}

#titletab{
    border:#333333 solid 4px;
    max-width:50%;
    border-top-left-radius:64px;
    border-top-right-radius:64px;
}

#titletabb{
    position:relative;
    top:1px;
    width:auto;
    padding:10px;
    border: double #c7b9aa 6px;
    border-bottom: double #c7b9aa 5px;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    background-color:#333333;
}

#title{
    font-size:400%;
    color:#b6a899;
    text-align:center;
}

#tabs {
    position:relative;
    background-color:#c7b9aa;
    width:auto;
    padding:30px;
    border: solid 4px #333333;
    border-top-right-radius: 45px;
    color:#ffffff;
    text-align:center;
}
/*.tabbutton{
    position:relative;
    background-color:#333333;
    width:20%;
    padding:10px;
    margin:10px;
    border:double #c7b9aa 8px;
    border-radius:10px;
    float:left;
}*/
a.tablink {
    position:relative;
    background-color:#333333;
    padding:10px;
    margin:5px;
    border:double #c7b9aa 8px;
    border-radius:10px;
    color:#b6a899;
    font-size:24pt;
}

footer{
    margin-bottom:-50px;
    margin-left:auto;
    margin-right:auto;
    
}
#shoe{
    border-left:solid #333333 4px;
    border-right: solid #333333 4px;
    margin-left:auto;
    margin-right:auto;
    background-color:#ffffff;
}
#shoe{
    height:50px;
}

#map{
    margin:10px;
}

#menu-box {
    text-align: center;
}

img {

    width: 100%;
}
.navbar-brand{
    white-space:normal;
}
@media(min-width:320px){
    header,#shoe,footer{
        max-width:100%;
    }
    #titletab{
        max-width:100%;
    }
    #tabs{
        border-top-right-radius: 0px;
    }
    a.tablink{
        font-size:.65em;
        margin:0px;
    }
}
@media(min-width:576px){
    header,#shoe,footer{
        max-width:550px;
    }
}
@media (min-width:768px){
    header,#shoe,footer{
        max-width:740px;
    }
    #titletab{
        max-width:60%;
    }
    #tabs{
        border-top-right-radius: 45px;
    }
    a.tablink{
        font-size:24pt;
        margin:5px;
    }
}
@media (min-width:992px){
    header,#shoe,footer{
        max-width:960px;
    }
}
@media (min-width:1200px){
    header,#shoe,footer{
        max-width:1140px;
    }
}